@model PackAndGo.Web.Models.UserViewModel

<h1>Edit User</h1>

@if (!ViewData.ModelState.IsValid)
{
  <div>
      @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
      {
          <p>@error.ErrorMessage</p>
      }
  </div>
}

<form asp-action="Edit" method="post">
  <input type="hidden" asp-for="Id" />
  <div>
      <label>Email</label>
      <input asp-for="Email" />
  </div>
  <div>
      <input type="submit" value="Save" />
  </div>
</form>

<p>
  <a href="@Url.Action("Index")">Back to List</a>
</p>
