@model PackAndGo.Web.Models.UserViewModel

<h1>Edit User</h1>

<form asp-action="Edit" method="post">
  <input type="hidden" asp-for="Id" />
  <div>
      <label>Email</label>
      <input asp-for="Email" />
  </div>
  <div>
      <input type="submit" value="Save" />
  </div>
</form>

<p>
  <a href="@Url.Action("Index")">Back to List</a>
</p>
